@import url('https://fonts.googleapis.com/css?family=Open Sans:400,500,600,700');
:root{
	--color-negro:#000;
	--color-texto:#212529;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: var(--color-texto);
	background-color: #DDCDE0;
}
header{
    background-color: #B085D5;
}

#intro{
	text-align: center;
}
#intro h1{
	color: #000;
	
}
#intro p{
	color: #000;
	font-weight: 600;
}
#about{
	text-align: center;
	padding: 5% 0;
}
#about p{
	font-size: 16px;
}
#about h1{
	padding: 2%;
}
#about p{
	padding: 15%;
}
#services{
	text-align: center;
	background-color: #fff;
	padding: 10%;
}
#services h1{
	padding: 2%;
}
#services h5{
	padding-bottom: 3%;
}
i{
	font-size: 50px;
}
#gallery{
	text-align: center;
	padding: 10%;
}
#gallery h1{
	padding: 2%;
}
#gallery h5{
	padding-bottom: 3%;
}
#gallery h6{
	padding: 3%;
}
#contact{
	text-align: center;
	padding: 6%;
	background-color: #fff;
}
#contact h1{
	padding: 2%;
}
#contact h5{
	padding-bottom: 3%;
}
footer{
	text-align: center;
	background-color: #B085D5;
	padding: 3%;
}
.btn-dark{
	margin-top: 2%;
}
.section{
	padding:50px 0;
	min-height:300px;
}

.header-area.sticky {
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);*/
	width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 99999;
	transition: 0.3s all ease;
}
.header-area.sticky .navbar-light{
	background-color: #B085D5 !important;
}



